/* styles:app/components/nav.imba */
.cz-ag:not(#_):not(#_):not(#_){color:#fff}.cz-ai:not(#_):not(#_):not(#_){color:inherit}.cz-ak:not(#_):not(#_):not(#_){color:inherit}.cz-am:not(#_):not(#_):not(#_){color:inherit}.cz-ao:not(#_):not(#_):not(#_){color:inherit}.cz-aq:not(#_):not(#_):not(#_){color:inherit}nav-cz-at{display:block}/* chunk:end */
/* styles:app/components/story.imba */
story-di-ar{display:block}/* chunk:end */
/* styles:app/pages/home.imba */
home-page{display:block}/* chunk:end */
/* styles:app/components/comment.imba */
comment-dk-ao{display:block}/* chunk:end */
/* styles:app/pages/article.imba */
.df-ah:not(#_):not(#_):not(#_){display:grid;gap:1rem;--u_rg: 1rem;--u_cg: 1rem}article-page{display:block}/* chunk:end */
/* styles:app/pages/user.imba */
user-page{display:block}/* chunk:end */
/* styles:app/app.imba */
app-tag{display:block}/* chunk:end */